PAYLOAD_SECRET=3a7f4c2ff8998bc2e5c81c62d7a528f6252175d22c53a76a893d40da4af569ad
DATABASE_URI=postgresql://USER:PASSWORD@EXTERNAL_HOST
NEXT_PUBLIC_SERVER_URL=https://localhost:3000
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxxxxxxxx
RESEND_API_KEY=